{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-outline-success" type="submit" value="Login">
                    <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}?next=/" role="button" style="text-transform:none">
                      <img width="16px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                      Login with Google
                    </a>
                    <a class="btn btn-outline-secondary" href="{% url 'password_reset' %}" role="button">Forgot password</a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}